@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* <html> 元素 */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Muli", sans-serif;
  display: flex; /* 弹性项目 */
  align-items: center; /* 元素在侧轴居中 */
  justify-content: center; /* 居中排列 */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center; /* 行内内容居中 */
}

.progress-container {
  display: flex;
  justify-content: space-between; /* 均匀排列每个元素首个元素放置于起点，末尾元素放置于终点 */
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* 在元素之前添加内容 */
.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* 允许旋转，缩放，倾斜或平移给定元素 */
  height: 4px;
  width: 100%;
  z-index: -1; /* 当元素之间重叠的时候，z-index 较大的元素会覆盖较小的元素在上层进行显示。 */
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px; /* 内边框 top bottom left right */
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98); /* 缩放 */
}

.btn:focus {
  outline: 0; /* 在一条声明中设置多个轮廓属性的简写属性 */
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed; /* 禁止点击 */
}
